server:
  port: 8080


spring:
  datasource:
    url: jdbc:mysql://${HOST_NAME:localhost}:3306/Employee
    username: ${USER_NAME:root}
    password: ${PASSWORD:admin}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
    hibernate:
      use-new-id-generator-mappings: false
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    database: mysql